alembic==1.12.0
amqp==5.1.1
appdirs==1.4.4
attrs==23.1.0
automaton==3.2.0
autopage==0.5.1
Babel==2.12.1
backports.zoneinfo==0.2.1
bcrypt==4.0.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cliff==4.3.0
cmd2==2.4.3
cryptography==41.0.3
debtcollector==2.5.0
decorator==5.1.1
diskcache==5.6.3
dnspython==2.4.2
docker==6.1.3
dogpile.cache==1.2.2
eventlet==0.33.3
fasteners==0.18
fixtures==4.1.0
futurist==2.4.1
greenlet==2.0.2
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
iso8601==2.0.0
Jinja2==3.1.2
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
keystoneauth1==5.3.0
keystonemiddleware==10.4.1
kombu==5.3.2
logutils==0.3.5
magnum==16.0.1
magnum-cluster-api==0.10.0
Mako==1.2.4
MarkupSafe==2.1.3
msgpack==1.0.5
netaddr==0.8.0
netifaces==0.11.0
networkx==3.1
openstacksdk==1.5.0
os-client-config==2.1.0
os-service-types==1.7.0
osc-lib==2.8.1
oslo.cache==3.5.0
oslo.concurrency==5.2.0
oslo.config==9.2.0
oslo.context==5.2.0
oslo.db==14.0.0
oslo.i18n==6.1.0
oslo.log==5.3.0
oslo.messaging==14.4.0
oslo.metrics==0.7.0
oslo.middleware==5.2.0
oslo.policy==4.2.1
oslo.privsep==3.2.0
oslo.reports==3.1.0
oslo.serialization==5.2.0
oslo.service==3.2.0
oslo.upgradecheck==2.2.0
oslo.utils==6.2.1
oslo.versionedobjects==3.2.0
packaging==23.1
Paste==3.5.3
PasteDeploy==3.0.1
pbr==5.11.1
pecan==1.5.1
pip==23.2.1
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
prettytable==3.9.0
prometheus-client==0.17.1
psutil==5.9.5
pycadf==3.1.1
pycparser==2.21
pydot==1.4.2
pyinotify==0.9.6
pykube-ng==23.6.0
pyOpenSSL==23.2.0
pyparsing==3.1.1
pyperclip==1.8.2
pyroute2==0.7.9
python-barbicanclient==5.5.0
python-cinderclient==9.4.0
python-dateutil==2.8.2
python-glanceclient==4.4.0
python-heatclient==3.3.0
python-keystoneclient==5.1.0
python-manilaclient==4.6.0
python-neutronclient==11.0.0
python-novaclient==18.4.0
python-octaviaclient==3.5.0
python-openstackclient==6.2.0
python-swiftclient==4.4.0
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.30.2
repoze.lru==0.7
requests==2.31.0
requestsexceptions==1.4.0
rfc3986==2.0.0
Routes==2.5.1
rpds-py==0.10.2
semver==2.13.0
setuptools==68.0.0
shortuuid==1.0.11
simplegeneric==0.8.1
simplejson==3.19.1
six==1.16.0
SQLAlchemy==2.0.20
statsd==4.0.1
stevedore==5.1.0
taskflow==5.4.0
tenacity==8.2.3
testresources==2.0.1
testscenarios==0.5.0
testtools==2.6.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
vine==5.0.0
warlock==2.0.1
wcwidth==0.2.6
WebOb==1.8.7
websocket-client==1.6.3
Werkzeug==2.3.7
wheel==0.38.4
wrapt==1.15.0
WSME==0.11.0
yappi==1.4.0
zipp==3.16.2
